setup.cfg
setup.py
freecad_gear/__init__.py
freecad_gear/freecad/__init__.py
freecad_gear/freecad/commands.py
freecad_gear/gearfunc/_Classes.py
freecad_gear/gearfunc/__init__.py
freecad_gear/gearfunc/_bevel_tooth.py
freecad_gear/gearfunc/_cycloide_tooth.py
freecad_gear/gearfunc/_functions.py
freecad_gear/gearfunc/_involute_tooth.py
